/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.button {
	-fx-font-size: 15pt;
	-fx-font-weight: bold;
	-fx-border-color: #177a76;
	-fx-background-color: #23B2AC;
}

.button:hover {
	-fx-font-size: 15pt;
	-fx-font-weight: bold;
	-fx-border-color: #177a76;
	-fx-background-color: #c9fffd;
}

#exchangeButton, #playWordButton {
	-fx-font-size: 10pt;
	-fx-font-weight: bold;
	-fx-border-color: #177a76;
	-fx-background-color: #23B2AC;
	
}

#exchangeButton:hover, #playWordButton:hover {
	-fx-font-size: 10pt;
	-fx-font-weight: bold;
	-fx-border-color: #177a76;
	-fx-background-color: #c9fffd;	
}